﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.site-content {
    margin-bottom: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    padding-right: var(--bs-gutter-x, 16px);
    padding-left: var(--bs-gutter-x, 16px);
    margin-right: auto;
    margin-left: auto;
}

.center-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-wide {
    width: 100%;
}

.stretch {
    width: 100%;
}

.align-text-center {
    text-align: center;
}

.form-group {
    margin-top: 10px;
}

.img-small {
    width: calc(16px * 6);
    height: calc(9px * 6);
}

.img-medium {
    width: calc(16px * 20);
    height: calc(9px * 20);
}

.img-small-correction {
    margin-bottom: calc(9px * 6);
}

.img-medium-correction {
    margin-bottom: calc(9px * 20);
}

@media (max-width: 767px) {
    .center-block {
        margin-right: 15px;
        margin-left: 15px;
    }

    .footer {
        line-height: 30px;
        height: 15px;
    }

    .site-content {
        margin-bottom: 15px;
    }
}

.margin-auto-left-right {
    margin-left: auto;
    margin-right: auto;
}

.narrow-content-edit {
    max-width: none;
}

.btn-none {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
    background-color: transparent;
}

@media (min-width: 576px) {
    .narrow-content-edit {
        max-width: 416px;
    }
}

@media (min-width: 768px) {
    .narrow-content-edit {
        max-width: 558px;
    }
}

@media (min-width: 992px) {
    .narrow-content-edit {
        max-width: 757px;
    }
}

@media (min-width: 1200px) {
    .narrow-content-edit {
        max-width: 840px;
    }
}

@media (min-width: 1468px) {
    .narrow-content-edit {
        max-width: 908px;
    }
}