﻿.content-row {
    flex-wrap: nowrap;
}

@media (max-width: 767px) {
    .content-row {
        flex-wrap: wrap;
    }
}

.modal {
    text-align: center;
    padding: 0 !important;
}

    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
