﻿@using Core.Domain;
@using Web_App.Session;
@using Microsoft.AspNetCore.Identity
@model Web_App.Models.EditModel

@{
    ViewData["Title"] = "Edit Patient Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    IdentityUser currentUser = Context.Session.GetObject<IdentityUser>("CurrentUser");

    string underSuperVisionByTitle = Context.Session.GetBoolean("IsStudent") ? "Under Supervision By*" : "Under Supervision By";
    string badge = Model.TreatmentPlanModel.TreatmentPlanState == TreatmentPlanState.Empty ? "-" : $"{Model.TreatmentPlanModel.Treatments.Count()}";
}

@Html.AntiForgeryToken()

<head>
    <link rel="stylesheet" href="~/css/Patient.css" />
    <script lang="text/javascript">
        function updateSnField(e) {
            let studentNumberField = document.getElementById('studentNumberField');
            if (e.checked != true) {
                studentNumberField.readOnly = true;
                staffNumberField.readOnly = false;
            }
            else {
                studentNumberField.readOnly = false;
                staffNumberField.readOnly = true;
            }
        }
        function updateRdField(e) {
            let resignDateField = document.getElementById('resignDateField');
            if (e.checked != true) {
                resignDateField.readOnly = true;
            }
            else {
                resignDateField.readOnly = false;
            }
        }

        window.onload = function () {
            let tl = [].slice.call(document.querySelectorAll('#pageTabs button'));
            tl.forEach(function (trigger) {
                trigger.addEventListener('click', function (event) {
                    let tPane = document.querySelector(document.querySelector('#pageTabs button.active').getAttribute('data-bs-target'));
                    tPane.classList.remove('show');
                    tPane.classList.remove('active');
                    tPane.hidden = true;

                    let nextTab = document.querySelector(trigger.getAttribute('data-bs-target'));
                    nextTab.classList.add('show');
                    nextTab.classList.add('active');
                    nextTab.hidden = false;

                    event.preventDefault();
                    new bootstrap.Tab(trigger).show();
                });
            });
            document.getElementById('@ViewData["TabTo"]').click();
        }
    </script>
</head>

<div class="narrow-content-edit margin-auto-left-right">
    <ol id="navTo" class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Patient">Patients</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.PatientModel.Name</li>
    </ol>

    <ul class="nav nav-lt-tab justify-content-center" id="pageTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="btn-none nav-link active" id="ed-tab" data-bs-toggle="tab" data-bs-target="#ed-pane" role="tab">Edit</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="btn-none nav-link" id="rm-tab" data-bs-toggle="tab" data-bs-target="#rm-pane" role="tab">Remarks</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="btn-none nav-link" id="tmp-tab" data-bs-toggle="tab" data-bs-target="#tmp-pane" role="tab">Treatment Plan <span class="badge btn-none bg-primary text-light">@badge</span></button>
        </li>
    </ul>
</div>

<div class="narrow-content-edit margin-auto-left-right">
    <div class="tab-pane fade show active" id="ed-pane" role="tabpanel">
        <h1>Editing Patient - <b>@Model.PatientModel.Name</b></h1>
        <hr />
        <div class="row card pb-3">
            <div class="col-md-6">
                <form asp-action="Edit" asp-controller="Patient">
                    <div class="row content-row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="PatientModel.PatientNumber" class="control-label"></label>
                                <input asp-for="PatientModel.PatientNumber" class="form-control" readonly />
                                <span asp-validation-for="PatientModel.PatientNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PatientModel.RegisterDate" class="control-label"></label>
                                <input asp-for="PatientModel.RegisterDate" type="date" class="form-control" />
                                <span asp-validation-for="PatientModel.RegisterDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PatientModel.Name" class="control-label"></label>
                                <input asp-for="PatientModel.Name" class="form-control" placeholder="Type a name..." />
                                <span asp-validation-for="PatientModel.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PatientModel.DateOfBirth" class="control-label"></label>
                                <input asp-for="PatientModel.DateOfBirth" class="form-control" required />
                                <span asp-validation-for="PatientModel.DateOfBirth" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PatientModel.Gender" class="control-label"></label>
                                <input asp-for="PatientModel.Gender" class="form-control" placeholder="Type a gender..." />
                                <span asp-validation-for="PatientModel.Gender" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PatientModel.Email" class="control-label"></label>
                                <input asp-for="PatientModel.Email" type="email" class="form-control" placeholder="example@mail.com" />
                                <span asp-validation-for="PatientModel.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PatientModel.TelephoneNumber" class="control-label"></label>
                                <input asp-for="PatientModel.TelephoneNumber" type="tel" class="form-control" placeholder="+31612345678" />
                                <span asp-validation-for="PatientModel.TelephoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group form-check">
                                <label asp-for="PatientModel.IsStudent" class="form-check-label">
                                    <input id="isStudentInput" onclick="updateSnField(this)" class="form-check-input" asp-for="PatientModel.IsStudent" /> Is Student*
                                </label>
                            </div>
                            <div class="form-group">
                                <label asp-for="PatientModel.StudentNumber" class="control-label"></label>
                                @if (Model.PatientModel.IsStudent)
                                {
                                    <input asp-for="PatientModel.StudentNumber" id="studentNumberField" class="form-control" placeholder="-" />
                                }
                                else
                                {
                                    <input asp-for="PatientModel.StudentNumber" id="studentNumberField" class="form-control" placeholder="-" readonly />
                                }
                                <span asp-validation-for="PatientModel.StudentNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PatientModel.StaffNumber" class="control-label"></label>
                                @if (!Model.PatientModel.IsStudent)
                                {
                                    <input asp-for="PatientModel.StaffNumber" id="staffNumberField" class="form-control" placeholder="-" />
                                }
                                else
                                {
                                    <input asp-for="PatientModel.StaffNumber" id="staffNumberField" class="form-control" placeholder="-" readonly />
                                }
                                <span asp-validation-for="PatientModel.StaffNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <label asp-for="PatientModel.HasResignDate" class="form-check-label">
                                    <input id="isStudentInput" onclick="updateRdField(this)" class="form-check-input" asp-for="PatientModel.HasResignDate" /> Has Resign Date*
                                </label>
                            </div>
                            <div class="form-group">
                                <label asp-for="PatientModel.ResignDate" class="control-label"></label>
                                @if (Model.PatientModel.HasResignDate)
                                {
                                    <input asp-for="PatientModel.ResignDate" type="date" id="resignDateField" class="form-control" />
                                }
                                else
                                {
                                    <input asp-for="PatientModel.ResignDate" type="date" id="resignDateField" class="form-control" readonly />
                                }
                                <span asp-validation-for="PatientModel.ResignDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PatientModel.City" class="control-label"></label>
                                <input asp-for="PatientModel.City" class="form-control" placeholder="Type a city..." />
                                <span asp-validation-for="PatientModel.City" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PatientModel.Street" class="control-label"></label>
                                <input asp-for="PatientModel.Street" class="form-control" placeholder="Type a street..." />
                                <span asp-validation-for="PatientModel.Street" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PatientModel.HouseNumber" class="control-label"></label>
                                <input asp-for="PatientModel.HouseNumber" type="number" class="form-control" />
                                <span asp-validation-for="PatientModel.HouseNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="PatientModel.GlobalDescription" class="control-label"></label>
                                <input asp-for="PatientModel.GlobalDescription" class="form-control" placeholder="..." />
                                <span asp-validation-for="PatientModel.GlobalDescription" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PatientModel.ExtraDescription" class="control-label"></label>
                                <input asp-for="PatientModel.ExtraDescription" class="form-control" placeholder="..." />
                                <span asp-validation-for="PatientModel.ExtraDescription" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PatientModel.HeadOfTreatmentEntry" class="control-label"></label>
                                <select class="dropdown form-control" asp-for="PatientModel.HeadOfTreatmentEntry">
                                    @for (int i = 0; i < Model.PatientModel.Therapists.Count(); i++)
                                    {
                                        if (Model.PatientModel.Therapists.ElementAt(i).Name == Model.PatientModel.HeadOfTreatmentEntry)
                                        {
                                            <option value="@Model.PatientModel.Therapists.ElementAt(i).Name" selected>@Model.PatientModel.Therapists.ElementAt(i).Name</option>
                                        }
                                        else
                                        {
                                            <option value="@Model.PatientModel.Therapists.ElementAt(i).Name">@Model.PatientModel.Therapists.ElementAt(i).Name</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="PatientModel.HeadOfTreatmentEntry" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PatientModel.IntakeByEntry" class="control-label"></label>
                                <select class="dropdown form-control" asp-for="PatientModel.IntakeByEntry">
                                    @for (int i = 0; i < Model.PatientModel.Therapists.Count(); i++)
                                    {
                                        if (Model.PatientModel.Therapists.ElementAt(i).Name == Model.PatientModel.IntakeByEntry)
                                        {
                                            <option value="@Model.PatientModel.Therapists.ElementAt(i).Name" selected>@Model.PatientModel.Therapists.ElementAt(i).Name</option>
                                        }
                                        else
                                        {
                                            <option value="@Model.PatientModel.Therapists.ElementAt(i).Name">@Model.PatientModel.Therapists.ElementAt(i).Name</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="PatientModel.IntakeByEntry" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">@underSuperVisionByTitle</label>
                                <select class="dropdown form-control" asp-for="PatientModel.UnderSupervisionByEntry">
                                    @if (!Context.Session.GetBoolean("IsStudent"))
                                    {
                                        <option value="EMPTY" selected>-</option>
                                    }
                                    @for (int i = 0; i < Model.PatientModel.Therapists.Count(); i++)
                                    {
                                        if (Model.PatientModel.Therapists.ElementAt(i).IsStudent) continue;
                                        if (Model.PatientModel.Therapists.ElementAt(i).Name == Model.PatientModel.UnderSupervisionByEntry)
                                        {
                                            <option value="@Model.PatientModel.Therapists.ElementAt(i).Name" selected>@Model.PatientModel.Therapists.ElementAt(i).Name</option>
                                        }
                                        else
                                        {
                                            <option value="@Model.PatientModel.Therapists.ElementAt(i).Name">@Model.PatientModel.Therapists.ElementAt(i).Name</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="PatientModel.UnderSupervisionByEntry" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PatientModel.DiagnoseCode" class="control-label"></label>
                                <select class="dropdown form-control" asp-for="PatientModel.DiagnoseCode">
                                    @for (int i = 0; i < Model.PatientModel.VektisDiagnoses.Count(); i++)
                                    {
                                        string diagnoseText = $"{Model.PatientModel.VektisDiagnoses.ElementAt(i).Code} - {Model.PatientModel.VektisDiagnoses.ElementAt(i).BodyLocalization} - {Model.PatientModel.VektisDiagnoses.ElementAt(i).Pathology}";
                                        if (Model.PatientModel.VektisDiagnoses.ElementAt(i).Code == Model.PatientModel.DiagnoseCode)
                                        {
                                            <option value="@Model.PatientModel.VektisDiagnoses.ElementAt(i).Code" selected>@diagnoseText</option>
                                        }
                                        else
                                        {
                                            <option value="@Model.PatientModel.VektisDiagnoses.ElementAt(i).Code">@diagnoseText</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="PatientModel.DiagnoseCode" class="text-danger"></span>
                            </div>
                            <br />
                            <div class="form-group row content-row">
                                <div class="col-md-6">
                                    <input type="submit" value="Save" class="btn btn-primary btn-wide" />
                                </div>
                                <div class="col-md-6">
                                    <a asp-action="Index" asp-controller="Patient" class="btn btn-secondary btn-wide">Cancel</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <button data-toggle="modal" data-target="#delete-dialog" type="button" class="btn btn-danger btn-wide">Delete</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>       
    </div>
    <div class="tab-pane fade show active" id="rm-pane" role="tabpanel" hidden>
        <h1>Remarks for - <b>@Model.PatientModel.Name</b></h1>
        <hr />
        <div class="row">
            <div class="center-block pt-3 pb-6">
                <div class="col-md-12">
                    <form method="post" asp-action="AddRemark" asp-controller="Patient">
                        <div class="card">
                            <div class="card-header bg-white border-bottom-0 py-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4 class="mb-0">Post a Remark</h4>
                                    </div>
                                    <div class="col-md-8" style="text-align: right">
                                        <label asp-for="@Model.RemarkModel.IsVisibleForClient" class="form-check-label">
                                            <input class="form-check-input" asp-for="@Model.RemarkModel.IsVisibleForClient" /> Visible for @Model.PatientModel.Name?
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div style="padding-left: 1.5rem; padding-right: 1.5rem ">
                                <div style="display: none">
                                    <input name="pn" asp-for="@Model.PatientModel.PatientNumber" type="text" class="form-control" required />
                                </div>
                                <div class="hstack gap-1 pb-3">
                                    <input asp-for="@Model.RemarkModel.Text" type="text" class="form-control" required />
                                    <span asp-validation-for="@Model.RemarkModel.Text" class="text-danger"></span>
                                    <button type="submit" class="btn btn-primary">Post</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>               
            </div>
            <div class="center-block">
                <div class="row col-md-12">
                    @foreach (Remark r in Model.RemarkModel.Remarks)
                    {
                        <div class="col-md-1" style="margin: auto">
                            <div class="rounded-circle avatar avatar-lg">
                                <img alt="avatar" src="data:image/png;base64, @r.RemarkMadeBy.ProfilePictureBase64" class="rounded-circle">
                            </div>
                        </div>
                        <div class="col-md-11">
                            <div class="card mt-3">
                                <div class="card-header bg-white border-bottom-0 py-4">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h4 class="mb-0">@r.RemarkMadeBy.Name</h4>
                                        </div>
                                        <div class="col-md-8" style="text-align: right">
                                            @if (r.IsVisibleForClient)
                                            {
                                                <p class="mb-0 text-secondary"><span class="badge btn-none bg-primary text-light">Visible</span> @r.PostedOn.ToString()</p>
                                            }
                                            else
                                            {
                                                <p class="mb-0 text-secondary">@r.PostedOn.ToString()</p>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-white pb-3 border-top-0 text-break" style="padding-left: 1.5rem; padding-right: 1.5rem;">
                                    <label>@r.Text</label>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="tmp-pane" role="tabpanel" hidden>
        @if (Model.TreatmentPlanModel.TreatmentPlanState == TreatmentPlanState.Empty)
        {
            <h1>Treatment Plan - <b>@Model.PatientModel.Name</b></h1>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="row content-row">
                        <div class="col-md-12">
                            <h4>This patient doesn't have a <b>Treatment Plan</b> yet.</h4>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <form asp-action="AddDefaultTreatmentPlan" asp-controller="Patient">
                <input name="pn" type="hidden" value="@Model.TreatmentPlanModel.PatientNumber" />
                <button class="border-dashed border-1 border-primary btn-wide bg-light-secondary" style="height:150px" type="submit">Add Treatment Plan</button>
            </form>
        }
        else
        {
            <h1>Treatment Plan - <b>@Model.PatientModel.Name</b></h1>
            <hr />
            <div class="row card">
                <div class="col-md-6 pb-3">
                    <form asp-action="EditTreatmentPlan" asp-controller="Patient">
                        <div class="row content-row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label asp-for="TreatmentPlanModel.PatientNumber" class="control-label"></label>
                                        <input asp-for="TreatmentPlanModel.PatientNumber" class="form-control" readonly />
                                        <span asp-validation-for="TreatmentPlanModel.PatientNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TreatmentPlanModel.UnderTreatmentByEntry" class="control-label"></label>
                                    <select class="dropdown form-control" asp-for="TreatmentPlanModel.UnderTreatmentByEntry">
                                        @for (int i = 0; i < Model.TreatmentPlanModel.Therapists.Count(); i++)
                                        {
                                            if (Model.TreatmentPlanModel.Therapists.ElementAt(i).Name == Model.TreatmentPlanModel.UnderTreatmentByEntry)
                                            {
                                                <option value="@Model.TreatmentPlanModel.Therapists.ElementAt(i).Name" selected>@Model.TreatmentPlanModel.Therapists.ElementAt(i).Name</option>
                                            }
                                            else
                                            {
                                                <option value="@Model.TreatmentPlanModel.Therapists.ElementAt(i).Name">@Model.TreatmentPlanModel.Therapists.ElementAt(i).Name</option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="TreatmentPlanModel.UnderTreatmentByEntry" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TreatmentPlanModel.MaxTreatmentsPerWeek" class="control-label"></label>
                                    <input asp-for="TreatmentPlanModel.MaxTreatmentsPerWeek" type="number" min="1" max="50" class="form-control" />
                                    <span asp-validation-for="TreatmentPlanModel.MaxTreatmentsPerWeek" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TreatmentPlanModel.Description" class="control-label"></label>
                                    <input asp-for="TreatmentPlanModel.Description" class="form-control" placeholder="..." />
                                    <span asp-validation-for="TreatmentPlanModel.Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="TreatmentPlanModel.StartDate" class="control-label"></label>
                                    <input asp-for="TreatmentPlanModel.StartDate" type="date" class="form-control" />
                                    <span asp-validation-for="TreatmentPlanModel.StartDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TreatmentPlanModel.EndDate" class="control-label"></label>
                                    <input asp-for="TreatmentPlanModel.EndDate" type="date" class="form-control" />
                                    <span asp-validation-for="TreatmentPlanModel.EndDate" class="text-danger"></span>
                                </div>
                                <br />
                                <div class="form-group row content-row">
                                    <div class="col-md-6">
                                        <input type="submit" value="Save" class="btn btn-primary btn-wide" />
                                    </div>
                                    <div class="col-md-6">
                                        <button data-toggle="modal" data-target="#delete-treatmentplan-dialog" type="button" class="btn btn-danger btn-wide">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-12 col-12">
                    <div class="pb-3">
                        <div class="card-header bg-white border-bottom-0 py-4">
                            <h4 class="mb-0">Treatments</h4>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover text-nowrap mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th>Id</th>
                                        <th>Vektis Type</th>
                                        <th>Room</th>
                                        <th>Added Date</th>
                                        <th>End Date</th>
                                        <th>Particularities</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Treatment t in Model.TreatmentPlanModel.Treatments)
                                    {
                                        string addedDate = t.AddedDate.HasValue ? t.AddedDate.Value.ToShortDateString() : "Unknown";
                                        string endDate = t.EndDate.HasValue ? t.EndDate.Value.ToShortDateString() : "Unknown";
                                        <tr>
                                            <td class="align-middle"><a asp-action="Edit" asp-controller="Treatment" asp-route-tid="@t.Id" asp-route-pn="@Model.PatientModel.PatientNumber" >@t.Id</a></td>
                                            <td class="align-middle">@t.VektisType</td>
                                            <td class="align-middle">@t.Room</td>
                                            <td class="align-middle">@addedDate</td>
                                            <td class="align-middle">@endDate</td>
                                            <td class="align-middle">@t.Particularities</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer bg-white text-center">
                            <a asp-action="Add" asp-controller="Treatment" asp-route-tpid="@Model.TreatmentPlanModel.Id" asp-route-pn="@Model.PatientModel.PatientNumber">Add Treatment</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="delete-dialog" tabindex="1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="align-text-center">Are you sure want to delete @Model.PatientModel.Name?</h4>
            </div>
            <div class="modal-footer">
                <div class="row content-row stretch">
                    <div class="col-md-6">
                        <a asp-action="Delete" asp-controller="Patient" asp-route-pn="@Model.PatientModel.PatientNumber" value="Delete" class="btn btn-danger btn-wide">Yes</a>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-secondary btn-wide" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete-treatmentplan-dialog" tabindex="1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="align-text-center">Are you sure want to delete the Treatment Plan of @Model.PatientModel.Name and all the Treatments associated with it?</h4>
            </div>
            <div class="modal-footer">
                <div class="row content-row stretch">
                    <div class="col-md-6">
                        <a asp-action="DeleteTreatmentPlan" asp-controller="Patient" asp-route-pn="@Model.PatientModel.PatientNumber" value="Delete" class="btn btn-danger btn-wide">Yes</a>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-secondary btn-wide" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}