﻿@using Core.Domain
@model PatientsModel

@{
    ViewData["Title"] = "Patients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item active">Patients</li>
    <li class="breadcrumb-item" aria-current="page"><a asp-action="Add" asp-controller="Patient">Add Patient</a></li>
</ol>

<div class="row mt-6">
    <div class="col-md-12 col-12">
        <div class="card">
            <div class="card-header bg-white border-bottom-0 py-4">
                <h4 class="mb-0">Patients</h4>
            </div>
            <div class="table-responsive">
                <table class="table table-hover text-nowrap mb-0">
                    <thead class="table-light">
                        <tr>
                            <th>Patient Number</th>
                            <th>Name</th>
                            <th>Date of birth</th>
                            <th>Gender</th>
                            <th>E-mail</th>
                            <th>Telephone</th>
                            <th>City</th>
                            <th>Street</th>
                            <th>Housenumber</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (Patient p in Model.Patients)
                    {
                        string dateOfBirth = p.DateOfBirth.HasValue ? p.DateOfBirth.Value.ToShortDateString() : "Unknown";
                        <tr>
                            <td class="align-middle">@p.PatientNumber</td>
                            <td class="align-middle"><a asp-action="Edit" asp-controller="Patient" asp-route-pn="@p.PatientNumber">@p.Name</a></td>
                            <td class="align-middle">@dateOfBirth</td>
                            <td class="align-middle">@p.Gender</td>
                            <td class="align-middle">@p.Email</td>
                            <td class="align-middle">@p.TelephoneNumber</td>
                            <td class="align-middle">@p.City</td>
                            <td class="align-middle">@p.Street</td>
                            <td class="align-middle">@p.HouseNumber</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

            <div class="card-footer bg-white text-center">
                <a asp-action="Add" asp-controller="Patient" asp-fragment="navTo">Add Patient</a>
            </div>
        </div>
    </div>
</div>