﻿@using Core.Domain;
@using Web_App.Session;
@model Web_App.Models.EditModel

@{
    ViewData["Title"] = "Patient Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string underSuperVisionByTitle = Context.Session.GetBoolean("IsStudent") ? "Under Supervision By*" : "Under Supervision By";
    string badge = Model.TreatmentPlanModel.TreatmentPlanState == TreatmentPlanState.Empty ? "-" : $"{Model.TreatmentPlanModel.Treatments.Count()}";
}

@Html.AntiForgeryToken()

<head>
    <link rel="stylesheet" href="~/css/Patient.css" />
    <script>
        window.onload = function () {
            let tl = [].slice.call(document.querySelectorAll('#pageTabs button'));
            tl.forEach(function (trigger) {
                trigger.addEventListener('click', function (event) {
                    let tPane = document.querySelector(document.querySelector('#pageTabs button.active').getAttribute('data-bs-target'));
                    tPane.classList.remove('show');
                    tPane.classList.remove('active');
                    tPane.hidden = true;

                    let nextTab = document.querySelector(trigger.getAttribute('data-bs-target'));
                    nextTab.classList.add('show');
                    nextTab.classList.add('active');
                    nextTab.hidden = false;

                    event.preventDefault();
                    new bootstrap.Tab(trigger).show();
                });
            });
            document.getElementById('@ViewData["TabTo"]').click();
        }
    </script>
</head>

<div class="narrow-content-edit margin-auto-left-right">
    <ul class="nav nav-lt-tab justify-content-center" id="pageTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="btn-none nav-link active" id="ed-tab" data-bs-toggle="tab" data-bs-target="#ed-pane" role="tab">Edit</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="btn-none nav-link" id="rm-tab" data-bs-toggle="tab" data-bs-target="#rm-pane" role="tab">Remarks</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="btn-none nav-link" id="tmp-tab" data-bs-toggle="tab" data-bs-target="#tmp-pane" role="tab">Treatment Plan <span class="badge btn-none bg-primary text-light">@badge</span></button>
        </li>
    </ul>
</div>

<div class="narrow-content-edit margin-auto-left-right">
    <div class="tab-pane fade show active" id="ed-pane" role="tabpanel">
        <h1>Your <b>Patient File</b></h1>
        <hr />
        <div class="row card pb-3">
            <div class="col-md-6">
                <form asp-action="EditAddressData" asp-controller="Patient">
                    <div class="row content-row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="PatientModel.PatientNumber" class="control-label"></label>
                                <input asp-for="PatientModel.PatientNumber" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label asp-for="PatientModel.RegisterDate" class="control-label"></label>
                                <input asp-for="PatientModel.RegisterDate" type="date" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label asp-for="PatientModel.Name" class="control-label"></label>
                                <input asp-for="PatientModel.Name" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label asp-for="PatientModel.DateOfBirth" class="control-label"></label>
                                <input asp-for="PatientModel.DateOfBirth" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label asp-for="PatientModel.Gender" class="control-label"></label>
                                <input asp-for="PatientModel.Gender" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label asp-for="PatientModel.Email" class="control-label"></label>
                                <input asp-for="PatientModel.Email" type="email" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label asp-for="PatientModel.TelephoneNumber" class="control-label"></label>
                                <input asp-for="PatientModel.TelephoneNumber" type="tel" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-md-8">
                            @if (Model.PatientModel.IsStudent)
                            {
                                <div class="form-group">
                                    <label asp-for="PatientModel.StudentNumber" class="control-label"></label>
                                    <input asp-for="PatientModel.StudentNumber" id="studentNumberField" class="form-control" placeholder="-" readonly />
                                </div>
                            }
                            else
                            {
                                <div class="form-group">
                                    <label asp-for="PatientModel.StaffNumber" class="control-label"></label>
                                    <input asp-for="PatientModel.StaffNumber" id="staffNumberField" class="form-control" readonly />
                                </div>
                            }
                            @if (Model.PatientModel.HasResignDate)
                            {
                                <div class="form-group">
                                    <label asp-for="PatientModel.ResignDate" class="control-label"></label>
                                    <input asp-for="PatientModel.ResignDate" type="date" id="resignDateField" class="form-control" readonly />
                                </div>
                            }
                            <div class="form-group">
                                <label asp-for="PatientModel.City" class="control-label"></label>
                                <input asp-for="PatientModel.City" class="form-control" placeholder="Type a city..." />
                                <span asp-validation-for="PatientModel.City" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PatientModel.Street" class="control-label"></label>
                                <input asp-for="PatientModel.Street" class="form-control" placeholder="Type a street..." />
                                <span asp-validation-for="PatientModel.Street" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PatientModel.HouseNumber" class="control-label"></label>
                                <input asp-for="PatientModel.HouseNumber" type="number" class="form-control" />
                                <span asp-validation-for="PatientModel.HouseNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary btn-wide" />
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="PatientModel.GlobalDescription" class="control-label"></label>
                                <input asp-for="PatientModel.GlobalDescription" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label asp-for="PatientModel.ExtraDescription" class="control-label"></label>
                                <input asp-for="PatientModel.ExtraDescription" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label asp-for="PatientModel.HeadOfTreatmentEntry" class="control-label"></label>
                                <input asp-for="PatientModel.HeadOfTreatmentEntry" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label asp-for="PatientModel.IntakeByEntry" class="control-label"></label>
                                <input asp-for="PatientModel.IntakeByEntry" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label class="control-label">@underSuperVisionByTitle</label>
                                <input asp-for="PatientModel.UnderSupervisionByEntry" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label asp-for="PatientModel.DiagnoseCode" class="control-label"></label>
                                <input asp-for="PatientModel.DiagnoseCode" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="tab-pane fade show active" id="rm-pane" role="tabpanel" hidden>
        <h1>Your <b>Remarks</b></h1>
        <hr />
        <div class="row">            
            <div class="center-block">
                <div class="row col-md-12">
                    @foreach (Remark r in Model.RemarkModel.Remarks)
                    {
                        if (r.IsVisibleForClient)
                        {
                            <div class="col-md-1" style="margin: auto">
                            <div class="rounded-circle avatar avatar-lg">
                                <img alt="avatar" src="data:image/png;base64, @r.RemarkMadeBy.ProfilePictureBase64" class="rounded-circle">
                            </div>
                        </div>
                        <div class="col-md-11">
                            <div class="card mt-3">
                                <div class="card-header bg-white border-bottom-0 py-4">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h4 class="mb-0">@r.RemarkMadeBy.Name</h4>
                                        </div>
                                        <div class="col-md-8" style="text-align: right">
                                            <p class="mb-0 text-secondary">@r.PostedOn.ToString()</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-white pb-3 border-top-0 text-break" style="padding-left: 1.5rem; padding-right: 1.5rem;">
                                    <label>@r.Text</label>
                                </div>
                            </div>
                        </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="tmp-pane" role="tabpanel" hidden>
        @if (Model.TreatmentPlanModel.TreatmentPlanState == TreatmentPlanState.Empty)
        {
            <h1>Your <b>Treatment Plan</b></h1>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="row content-row">
                        <div class="col-md-12">
                            <h4>You do not have a <b>Treatment Plan</b> yet.</h4>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <h1>Your <b>Treatment Plan</b></h1>
            <hr />
            <div class="row card">
                <div class="col-md-6 pb-3">
                    <div class="row content-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="form-group">
                                    <label asp-for="TreatmentPlanModel.PatientNumber" class="control-label"></label>
                                    <input asp-for="TreatmentPlanModel.PatientNumber" class="form-control" readonly />
                                </div>
                                <label asp-for="TreatmentPlanModel.UnderTreatmentByEntry" class="control-label"></label>
                                <input asp-for="TreatmentPlanModel.UnderTreatmentByEntry" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label asp-for="TreatmentPlanModel.MaxTreatmentsPerWeek" class="control-label"></label>
                                <input asp-for="TreatmentPlanModel.MaxTreatmentsPerWeek" type="number" min="1" max="50" class="form-control" readonly/>
                            </div>
                            <div class="form-group">
                                <label asp-for="TreatmentPlanModel.Description" class="control-label"></label>
                                <input asp-for="TreatmentPlanModel.Description" class="form-control" placeholder="..." readonly/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="TreatmentPlanModel.StartDate" class="control-label"></label>
                                <input asp-for="TreatmentPlanModel.StartDate" type="date" class="form-control" readonly/>
                            </div>
                            <div class="form-group">
                                <label asp-for="TreatmentPlanModel.EndDate" class="control-label"></label>
                                <input asp-for="TreatmentPlanModel.EndDate" type="date" class="form-control" readonly/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-12">
                    <div class="pb-3">
                        <div class="card-header bg-white border-bottom-0 py-4">
                            <h4 class="mb-0">Treatments</h4>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover text-nowrap mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th>Id</th>
                                        <th>Vektis Type</th>
                                        <th>Room</th>
                                        <th>Added Date</th>
                                        <th>End Date</th>
                                        <th>Particularities</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Treatment t in Model.TreatmentPlanModel.Treatments)
                                    {
                                        string addedDate = t.AddedDate.HasValue ? t.AddedDate.Value.ToShortDateString() : "Unknown";
                                        string endDate = t.EndDate.HasValue ? t.EndDate.Value.ToShortDateString() : "Unknown";
                                        <tr>
                                            <td class="align-middle">@t.Id</td>
                                            <td class="align-middle">@t.VektisType</td>
                                            <td class="align-middle">@t.Room</td>
                                            <td class="align-middle">@addedDate</td>
                                            <td class="align-middle">@endDate</td>
                                            <td class="align-middle">@t.Particularities</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}