﻿@using Web_App.Session;
@using Core.Domain
@model AppointmentsModel

@{
    ViewData["Title"] = "Appointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Context.Session.GetBoolean("IsPatient"))
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Appointments</li>
        <li class="breadcrumb-item active" aria-current="page"><a asp-action="Select" asp-controller="Appointment">Schedule Appointment</a></li>
    </ol>

    <div class="row mt-6">
        <div class="col-md-12 col-12">
            <div class="card">
                <div class="card-header bg-white border-bottom-0 py-4">
                    <h4 class="mb-0">Patients</h4>
                </div>
                <div class="table-responsive">
                    <table class="table text-nowrap mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>Id</th>
                                <th>Therapist</th>
                                <th>Patient</th>
                                <th>Date/Time</th>
                                <th>Description</th>
                                <th>Treatment ID</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Appointment a in Model.Appointments)
                            {
                                bool isToday = (a.AppointmentDateTime.Value.Year == DateTime.Now.Year && a.AppointmentDateTime.Value.DayOfYear == DateTime.Now.DayOfYear);

                                TimeSpan testObj = a.AppointmentDateTime.Value - DateTime.Now;
                                bool isInFutureDay = a.AppointmentDateTime > DateTime.Now && !isToday;

                                string appointmentDateTime = a.AppointmentDateTime.HasValue ? a.AppointmentDateTime.Value.ToString() : "Unknown";
                            <tr>
                                <td class="align-middle"><a asp-action="Edit" asp-controller="Appointment" asp-route-appid="@a.Id">@a.Id</a></td>
                                <td class="align-middle">@a.Therapist.Name</td>
                                <td class="align-middle">@a.Patient.Name</td>
                                <td class="align-middle">@appointmentDateTime</td>
                                <td class="align-middle">@a.AppointmentDescription</td>
                                <td class="align-middle"><a asp-action="Edit" asp-controller="Treatment" asp-route-tid="@a.TreatmentId" asp-route-pn="@a.Patient.PatientNumber">@a.TreatmentId</a></td>

                                @if (isToday)
                                {
                                    <td class="align-middle text-primary">Today</td>
                                }
                                else if (isInFutureDay)
                                {
                                    <td class="align-middle text-success">Coming up</td>
                                }
                                else
                                {
                                    <td class="align-middle text-danger">Expired</td>
                                }

                                <td class="align-middle"><a class="text-danger" asp-action="Cancel" asp-controller="Appointment" asp-route-appid="@a.Id">Cancel</a></td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer bg-white text-center">
                    <a asp-action="Select" asp-controller="Appointment">Schedule Appointment</a>
                </div>
            </div>
        </div>
    </div>
}
else
{
    string pn = Context.Session.GetObject<string>("PatientNumber");
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Appointments</li>
        <li class="breadcrumb-item active" aria-current="page"><a asp-action="Add" asp-controller="Appointment" asp-route-pn="@pn">Schedule Appointment</a></li>
    </ol>

    <div class="row mt-6">
        <div class="col-md-12 col-12">
            <div class="card">
                <div class="card-header bg-white border-bottom-0 py-4">
                    <h4 class="mb-0">Patients</h4>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover text-nowrap mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>Id</th>
                                <th>Therapist</th>
                                <th>Date/Time</th>
                                <th>Description</th>
                                <th>Treatment ID</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Appointment a in Model.Appointments)
                            {
                                bool isToday = (a.AppointmentDateTime.Value.Year == DateTime.Now.Year && a.AppointmentDateTime.Value.DayOfYear == DateTime.Now.DayOfYear);

                                TimeSpan testObj = a.AppointmentDateTime.Value - DateTime.Now;
                                bool isInFutureDay = a.AppointmentDateTime > DateTime.Now && !isToday;

                                string appointmentDateTime = a.AppointmentDateTime.HasValue ? a.AppointmentDateTime.Value.ToString() : "Unknown";
                            <tr>
                                <td class="align-middle"><a asp-action="Edit" asp-controller="Appointment" asp-route-appid="@a.Id">@a.Id</a></td>
                                <td class="align-middle">@a.Therapist.Name</td>
                                <td class="align-middle">@appointmentDateTime</td>
                                <td class="align-middle">@a.AppointmentDescription</td>
                                <td class="align-middle">@a.TreatmentId</td>

                                @if (isToday)
                                {
                                    <td class="align-middle text-primary">Today</td>
                                }
                                else if (isInFutureDay)
                                {
                                    <td class="align-middle text-success">Coming up</td>
                                }
                                else
                                {
                                    <td class="align-middle text-danger">Expired</td>
                                }
                                <td class="align-middle">
                                    <a class="text-danger" asp-action="Cancel" asp-controller="Appointment" asp-route-appid="@a.Id">Cancel</a> |
                                    <a class="text-primary" asp-action="View" asp-controller="Patient" asp-route-pn="@pn" asp-route-tabTo="tmp-tab">Treatments</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer bg-white text-center">
                    <a asp-action="Add" asp-controller="Appointment" asp-route-pn="@pn">Schedule Appointment</a>
                </div>
            </div>
        </div>
    </div>
}