﻿@model Web_App.Models.AppointmentModel

@{
    ViewData["Title"] = "Select Patient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()

<div class="narrow-content-edit margin-auto-left-right">
    <ol id="navTo" class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Appointment">Appointments</a></li>
        <li class="breadcrumb-item active" aria-current="page">Select Patient</li>
        <li class="breadcrumb-item active" aria-current="page">Schedule Appointment</li>
    </ol>
    <hr />

    <h1>Select Patient</h1>
    <hr />
    <div class="row card pb-3">
        <div class="col-md-12">
            <form asp-action="Select" asp-controller="Appointment">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row content-row">
                    <div class="form-group pt-3">
                        <select class="dropdown form-control" name="PatientNumberEntry">
                            @for (int i = 0; i < Model.Patients.Count(); i++)
                            {
                                if (Model.Patients.ElementAt(i).PatientNumber == Model.PatientNumberEntry)
                                {
                                    <option value="@Model.Patients.ElementAt(i).PatientNumber" selected>@Model.Patients.ElementAt(i).Name</option>
                                }
                                else
                                {
                                    <option value="@Model.Patients.ElementAt(i).PatientNumber">@Model.Patients.ElementAt(i).Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="PatientNumberEntry" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="form-group row content-row">
                    <div class="col-md-6">
                        <input type="submit" value="Select" class="btn btn-primary btn-wide" />
                    </div>
                    <div class="col-md-6">
                        <a asp-action="Index" asp-controller="Appointment" class="btn btn-secondary btn-wide">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>