﻿@{
    ViewData["Title"] = "Home Page";
}
<header>
    <link rel="stylesheet" href="~/css/Home.css" />
</header>

<div class="text-center carousel-floating-content">
    <div class="row content-row">
        <div class="col-md-6">
            <a asp-action="Index" asp-controller="Login" class="btn btn-primary btn-wide smooth-shadow-md">Log-in</a>
        </div>
        <div class="col-md-6">
            <a asp-action="Privacy" asp-controller="Home" class="btn btn-secondary btn-wide smooth-shadow-md">Privacy</a>
        </div>
    </div>
</div>

<div id="carouselContent" class="carousel" data-ride="carousel" data-pause="false">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselContent" onclick="$('.carousel').carousel(0)" class="active"></li>
        <li data-bs-target="#carouselContent" onclick="$('.carousel').carousel(1)"></li>
        <li data-bs-target="#carouselContent" onclick="$('.carousel').carousel(2)"></li>
    </ol>
    <div class="carousel-inner">
        <div class="active carousel-item">
            <img src="~/img/cs-slide-01.jpg" class="d-block w-100" alt="..." data-interval="4000">
        </div>
        <div class="carousel-item">
            <img src="~/img/cs-slide-02.jpg" class="d-block w-100" alt="..." data-interval="4000">
        </div>
        <div class="carousel-item">
            <img src="~/img/cs-slide-03.jpg" class="d-block w-100" alt="..." data-interval="4000">
        </div>
    </div>
</div>